.createquizdialog {
    padding: 40px;             
    background-color: white;   
    border-radius: 20px;   
    border: 2px solid #4A90E2;
    position: fixed;           
    z-index: 1000;             
}
.createquizdialogcontent {
    display: flex;
    flex-direction: column;
}
.createquizdialog-header {
    color: #4A90E2;
    margin-bottom: 10px;
}