.setupquizdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #a89e9e;
    border-radius: 40px;
    padding: 50px;
    background-color: white;
}
.quizcardcontainer {
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
