.gamepagelayout{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 50px;
    width : 50vw;
    height: 50vh;
}
.header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.questionblock{
   width: 100%;
   height: 70%;
}
.btndiv{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.answersdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.questionheader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.questionheaderh2{
    padding-right: 20px;
    font-weight: normal;
    font-size: 20px;
    color: #555;
}
