body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #357ABD;
}
h1  {
    font-size: 48px;
    color: #4A90E2;
}
h2 {
    color: #4A90E2;
}