.alert-dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
}
.alert-dialog{
    background-color: #A41623;
    border: 2px solid black;
    border-radius: 10px;
    padding : 20px;
}
.btndiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}