.quizcardcomponent{
    border: 1px solid #4A90E2;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    background-color: #f9f9f9;
    display: flex;
}
.content {
    width: 75%;
}
.contentBtns {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}